.ipynb_checkpoints
Data/access_log_Aug95
assignemnt/NASA_access_log_Jul95.gz
assignemnt/NASA_Aug95_100.txt
assignemnt/ml-25m.zip
*.csv
Haiping/ScalableML/
*.crc
assignemnt/checkpoint/8beb13a1-ebb9-43ec-b0fb-2a047680eb67/rdd-1238/_partitioner
